<mat-nav-list>
    <a mat-list-item routerLink="user/{{chatId}}/profile" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Личный кабинет</span>
    </a>

    <mat-accordion>
        <mat-expansion-panel>
            <!-- Header -->
            <mat-expansion-panel-header>
                <mat-icon>money_off</mat-icon><span class="nav-caption">Мои расходы</span>
            </mat-expansion-panel-header>
            <!-- => Sub menues <= -->
            <!-- Summary category -->
            <mat-accordion>
                <mat-expansion-panel>
                    <!-- Header -->
                    <mat-expansion-panel-header>
                        <mat-icon>arrow_right</mat-icon><span class="nav-caption">Все категории</span>
                    </mat-expansion-panel-header>

                    <a mat-list-item (click)="onCategoryClick('Суммарно', 'all-time')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">Всё время</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('Суммарно', 'six-month')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">Пол года</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('Суммарно', 'thirty-days')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">30 дней</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('Суммарно', 'seven-days')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">7 дней</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- All created by user categories -->
            <div *ngFor="let category of categories">
                <mat-accordion>
                    <mat-expansion-panel>
                        <!-- Header -->
                        <mat-expansion-panel-header>
                            <mat-icon>arrow_right</mat-icon><span class="nav-caption">{{category}}</span>
                        </mat-expansion-panel-header>

                        <a mat-list-item (click)="onCategoryClick(category, 'all-time')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">Всё время</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'half-year')">
                            <mat-icon>timeline</mat-icon><span class="submenu">Пол года</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'thirty-days')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">30 дней</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'seven-days')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">7 дней</span>
                        </a>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>show_chart</mat-icon>
        <span class="nav-caption">Статистика расходов</span>
    </a>
</mat-nav-list>