a {
    text-decoration: none;
    color: white;
    margin-top: 5%;
}

a:hover,
a:active {
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

mat-nav-list {
    background-color: #334252;    
}

mat-list-item,
mat-expansion-panel {
    background-color: #334252;
    margin-top: 5%;
    span {
        margin-left: 5%;
    }
}

.submenu {
    font-size: smaller;
}

mat-expansion-panel-header {
    padding-left: 8%;
}
