a {
    text-decoration: none;
    color: white;
    margin-top: 5%;
}

a:hover,
a:active {
    color: lightgray;
}
.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

mat-list-item,
mat-expansion-panel {
    //background-color: #79bd9a;
    margin-top: 5%;
}

.submenu {
    font-size: smaller;
}

mat-expansion-panel-header {
    padding-left: 8%;
}
