a {
    text-decoration: none;
    color: white;
    margin-top: 5%;
}

a:hover,
a:active {
    color: lightgray;
}
.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

mat-list-item {
    //background-color: #79bd9a;
    margin-top: 5%;
}

mat-menu {
    margin-left: 55%;
    margin-right: 55%;
}
