<mat-nav-list *ngIf="isLoggedIn">
    <!-- Welcome header gravatarId="adde9b2b981a8083cf084c63ad86f753" -->
    <div class="welcome">
        <ngx-avatar name="{{user.name}}" src="assets/avatar.jpg" value="28%" twitterId="twitter" size="100"
            [round]="true">
        </ngx-avatar>
        <h4>Добро пожаловать, {{user.name}}!</h4>
    </div>

    <a mat-list-item routerLink="user/{{chatId}}/profile" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Личный кабинет</span>
    </a>

    <mat-accordion>
        <mat-expansion-panel>
            <!-- Header -->
            <mat-expansion-panel-header>
                <mat-icon>money_off</mat-icon><span class="nav-caption">Мои расходы</span>
            </mat-expansion-panel-header>
            <!-- => Sub menues <= -->
            <!-- Summary category -->
            <mat-accordion>
                <mat-expansion-panel>
                    <!-- Header -->
                    <mat-expansion-panel-header>
                        <mat-icon>arrow_right</mat-icon><span class="nav-caption">Все категории</span>
                    </mat-expansion-panel-header>

                    <a mat-list-item (click)="onCategoryClick('summary', 'expenses','all-time')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">Всё время</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('summary', 'expenses', 'six-month')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">Пол года</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('summary', 'expenses', 'thirty-days')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">30 дней</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('summary', 'expenses', 'seven-days')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">7 дней</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- All created by user categories -->
            <div *ngFor="let category of categories">
                <mat-accordion>
                    <mat-expansion-panel>
                        <!-- Header -->
                        <mat-expansion-panel-header>
                            <mat-icon>arrow_right</mat-icon><span class="nav-caption">{{category}}</span>
                        </mat-expansion-panel-header>

                        <a mat-list-item (click)="onCategoryClick(category, 'expenses', 'all-time')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">Всё время</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'expenses', 'half-year')">
                            <mat-icon>timeline</mat-icon><span class="submenu">Пол года</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'expenses', 'thirty-days')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">30 дней</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'expenses', 'seven-days')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">7 дней</span>
                        </a>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <!-- Header -->
            <mat-expansion-panel-header>
                <mat-icon>show_chart</mat-icon><span class="nav-caption">Статистика расходов</span>
            </mat-expansion-panel-header>
            <!-- => Sub menues <= -->
            <!-- Summary category -->
            <mat-accordion>
                <mat-expansion-panel>
                    <!-- Header -->
                    <mat-expansion-panel-header>
                        <mat-icon>arrow_right</mat-icon><span class="nav-caption">Все категории</span>
                    </mat-expansion-panel-header>

                    <!-- <a mat-list-item (click)="onCategoryClick('summary', 'statistics', 'all-time')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">Всё время</span>
                    </a> -->
                    <a mat-list-item (click)="onCategoryClick('summary', 'statistics', 'one-year')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">Год</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('summary', 'statistics', 'six-month')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">Пол года</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('summary', 'statistics', 'thirty-days')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">30 дней</span>
                    </a>
                    <a mat-list-item (click)="onCategoryClick('summary', 'statistics', 'seven-days')">
                        <mat-icon>timeline</mat-icon>
                        <span class="submenu">7 дней</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- All created by user categories -->
            <div *ngFor="let category of categories">
                <mat-accordion>
                    <mat-expansion-panel>
                        <!-- Header -->
                        <mat-expansion-panel-header>
                            <mat-icon>arrow_right</mat-icon><span class="nav-caption">{{category}}</span>
                        </mat-expansion-panel-header>

                        <!-- <a mat-list-item (click)="onCategoryClick(category, 'statistics', 'all-time')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">Всё время</span>
                        </a> -->
                        <a mat-list-item (click)="onCategoryClick(category, 'statistics', 'one-year')">
                            <mat-icon>timeline</mat-icon><span class="submenu">Год</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'statistics', 'half-year')">
                            <mat-icon>timeline</mat-icon><span class="submenu">Пол года</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'statistics', 'thirty-days')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">30 дней</span>
                        </a>
                        <a mat-list-item (click)="onCategoryClick(category, 'statistics', 'seven-days')">
                            <mat-icon>timeline</mat-icon>
                            <span class="submenu">7 дней</span>
                        </a>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="footer"></div>
</mat-nav-list>