<div class="container">
  <div class="card card-container">
    <img id="profile-img" src="../../assets/images/default-user-logo.png" class="profile-img-card" />
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="email">Email<span class="required-asterisk">*</span></label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
          Обязательно для заполнения
        </div>
      </div>
      <div class="form-group">
        <label for="password">Пароль<span class="required-asterisk">*</span></label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Обязательно для заполнения</div>
          <div *ngIf="password.errors.minlength">Пароль должен состоять минимум из 6 символов</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Войти
        </button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Ошибка входа <br />
          {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      <a href="/register" class="nav-link" routerLink="register">Регистрация</a>
    </div>
  </div>
</div>