<div class="expenses-main col-lg-12">
  <div class="expenses-part" *ngFor="let item of monthsExpenses; index as i">
    <div *ngIf="item.allMonths">
      <h3>
        Расходы для категории '{{currentCategory}}'
      </h3>
      <h5>
        Общая сумма: {{item.sum}}
      </h5>
    </div>
    <div *ngIf="!item.allMonths">
      <h3>
        Расходы за '{{formatedDateByMonthYear(item.monthYear)}}'
      </h3>
      <h5>
        Общая сумма: {{item.sum}}
      </h5>
    </div>

    <app-expenses-table [tableData]="item.subexpensesDto"></app-expenses-table>
  </div>

  <div class="footer"></div>
</div>