<div class="expenses-main col-lg-12">
  <div *ngIf="dataReady">
    <div class="expenses-part">
      <h3 *ngIf="currentCategory !== '%'">
        Расходы для категории '{{currentCategory}}'
      </h3>
      <h3 *ngIf="currentCategory === '%'">
        Расходы по всем категориям
      </h3>
      <h5>
        Общая сумма: {{totalExpensesResponse.totalExpenses}}
      </h5>

      <app-expenses-table [tableData]="totalExpensesResponse.subexpensesDto" [showCategory]="currentCategory === '%'">
      </app-expenses-table>
    </div>

    <div class="expenses-part" *ngFor="let item of monthsExpensesResponse; index as i">
      <h3 *ngIf="currentCategory !== '%'">
        Расходы за {{DateUtil.formatedDateByMonthYear(item.monthYear)}}
      </h3>
      <h3 *ngIf="currentCategory === '%'">
        Расходы по всем категориям за {{DateUtil.formatedDateByMonthYear(item.monthYear)}}
      </h3>
      <h5>
        Общая сумма: {{item.totalExpenses}}
      </h5>

      <app-expenses-table [tableData]="item.subexpensesDto" [showCategory]="currentCategory === '%'">
      </app-expenses-table>
    </div>
  </div>

  <div class="footer"></div>
</div>