h3,
h5 {
    text-align: center;
    color: rgb(215, 215, 215);
}

.expenses-part {
    margin: auto;
    margin-top: 1%;
    background-color: #334252;
    border-radius: 30px 30px 30px 30px;
    height: auto;
    width: auto;
    padding: 4%;
}

table {
    width: 100%;
    background-color: #a5bdbd;
    text-align: center;
}

.mat-cell {
    color: #424242;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.mat-header-cell {
    background-color: #8fa7a7;
    font-size: medium;
    color: #424242;
}

.mat-paginator {
    background-color: #8fa7a7;
    color: #424242;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #7bcccc !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #3b8686 !important;
}

td,
th {
    width: 25%;
}

mat-label {
    color: rgb(215, 215, 215);
}
