<div class="app">
  <!-- TODO: move to component -->
  <nav class="navbar fixed-top navbar-expand">
    <!-- Hamburger menu button   -->
    <div class="menu-button">
      <button mat-button (click)="sidenav.toggle()" *ngIf="isLoggedIn">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </div>

    <div class="bot-reference">
      <img id="bot-img" src="../assets/images/bot-logo.png" class="bot-img-logo" />
      <!-- Link to telegram bot -->
      <a href="https://web.telegram.org/#/im?p=@expenses_track_bot" target="_blank"
        class="bot-link navbar-brand">@expenses_track_bot</a>
    </div>

    <!-- About -->
    <ul class="navbar-nav ml-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/about" class="nav-link" routerLink="about" *ngIf="!isLoggedIn">Про бота</a>
        <a href="/profile/about" class="nav-link" routerLink="about" *ngIf="isLoggedIn">Про бота</a>
      </li>
    </ul>

    <ul class="col-md-2 navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!-- SignUp -->
      <div class="register-button">
        <li class=" nav-item">
          <a href="/register" class="nav-link" routerLink="register">Регистрация</a>
        </li>
      </div>
      <!-- SignIn -->
      <div class="login-button">
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Вход</a>
        </li>
      </div>
    </ul>
    <!-- LogOut -->
    <ul class="col-md-1 navbar-nav ml-auto" *ngIf="isLoggedIn">
      <div class="logout-button">
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Выйти</a>
        </li>
      </div>
    </ul>
  </nav>

  <mat-sidenav-container class="sidenav-container">
    <!-- Left side panel -->
    <mat-sidenav #sidenav mode="side" [(opened)]="isMenuOpen">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Page content -->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>