<div class="app">
  <nav class="navbar fixed-top navbar-expand">
    <!-- Hamburger menu button   -->
    <button mat-button class="menu-button" (click)="sidenav.toggle()" *ngIf="isLoggedIn">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>

    <!-- Link to telegram bot -->
    <a href="https://web.telegram.org/#/im?p=@expenses_track_bot" target="_blank"
      class="navbar-brand">@expenses_track_bot</a>

    <!-- About -->
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/about" class="nav-link" routerLink="about" *ngIf="!isLoggedIn">About</a>
        <a href="profile/about" class="nav-link" routerLink="about" *ngIf="isLoggedIn">About</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!-- SignUp -->
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Регистрация</a>
      </li>
      <!-- SignIn -->
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Вход</a>
      </li>
    </ul>

    <!-- LogOut -->
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </nav>

  <mat-sidenav-container class="sidenav-container">
    <!-- Left side panel -->
    <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav"
      (click)="onSidenavClick()">
      <a mat-button routerLink="user/{{getChatId()}}/profile">Личный кабинет</a>
      <a mat-button>Мои расходы</a>
      <a mat-button>Статистика расходов</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Page content -->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>