.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu-button {
    color: white;
    margin-right: 1%;
}

.sidenav-container {
    overflow: auto;
    flex-grow: 1;
    background-color: white;

    main {
        padding: 18px 24px;
        color: black;
        background: #e2fbfb;
        //background: #424242;
        height: 100%;
    }
}

.mat-sidenav {
    width: 17%;
}
