.comparison-main {
    text-align: center;
}

.comparison-part {
    text-align: center;
    margin: auto;
    margin-top: 1%;
    background-color: #334252;
    border-radius: 30px 30px 30px 30px;
    height: auto;
    width: auto;
    padding: 4%;
}

.footer {
    height: 10vh;
}
