.profile-main {
    display: flex;
    color: rgb(215, 215, 215);
    margin: 0 auto;
}

.expenses-info {
    background-color: #334252;
    border-radius: 30px 30px 30px 30px;
    padding: 1%;
    margin-top: 1%;
    flex: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user-info {
    margin-top: 1%;
    padding: 1%;
    flex: 1;
}

.user-info-component {
    margin-top: 5%;
}

.muted {
    color: #90a2b5;
}

.btn {
    width: 70%;
    color: #c0cad5;
}

button:hover {
    background-color: #555555;
}

.categories-container {
    text-align: center;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

a {
    padding: 1%;
    border: solid 1px #279485;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
    flex: 1;
    font-size: large;
    color: rgb(215, 215, 215);
}

a:hover {
    background-color: #1c7065a4;
    text-decoration: none;
}