@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
@import '~ngx-toastr/toastr';

.navbar {
    background: #3b8686;
    font-size: large;
}

.navbar a {
    color: white;
    font-size: large;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: OCR A Std, monospace;
    font-size: medium;
    margin-top: 3.5%;
}
