@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
@import "~ngx-toastr/toastr";
@import "styles-variables";

.navbar {
    background: #364857;
}

.navbar a {
    color: white;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: OCR A Std, monospace;
    font-size: medium;
    margin-top: 3.5%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #364857;
}
