<div class="statistics-main">
  


  <div class="statistics-part col-lg-12" *ngIf="period === this.TimePeriod.THIRTY_DAYS_OR_LESS && chartReady">
    <app-days-statistics
      [mainHeader]="currentCategory === '%' ? 'Расходы по всем категориям' : 'Расходы для категории \'' + currentCategory + '\''"
      [everyDayExpenses]="this.daysExpenses">
    </app-days-statistics>
  </div>
  <div class="statistics-part col-lg-12" *ngIf="period !== this.TimePeriod.THIRTY_DAYS_OR_LESS && chartReady">
    <app-months-statistics [monthsExpenses]="monthsExpenses" [currentCategory]="currentCategory">
    </app-months-statistics>

    <div *ngIf="period !== this.TimePeriod.ALL_TIME && chartReady">
      <div class="statistics-part col-lg-12" *ngFor="let item of monthsExpenses">
        <app-days-statistics [mainHeader]="'Расходы за ' + DateUtil.formatedDateByMonthYear(item.monthYear)"
          [everyDayExpenses]="item.everyDayExpenses">
        </app-days-statistics>
      </div>
    </div>
  </div>

  <div class="footer"></div>
</div>